* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: #435585;
    main{
        margin: 60px 24px;
        .aboutMeSection {
            display: flex;
            align-items: center;
            gap: 30px;
            background-color:#363062;
    padding: 20px;
    border-radius: 10px;
        }
    }
  }
  aside {
    display: flex;
    flex-direction: column;
  }

.aboutMeImg {
    min-width: 300px;
}

  h1, p {
    color: #f5e8c7;
  }

  p {
    line-height: 1.5;
    font-size: 16px;
  }

  footer {
    display: table;
    height: 0;
    width: 100%;
    background-color: #363062;
    padding: 4px;
    .credits {
      display: block;
      color:#f5e8c7;
      text-align: end;
    }
  }

  .interests {
    color: #f5e8c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    .interestList {
      list-style: none;
      padding: 0;
      .listAbout {
        padding: 14px 0;
      }
    }
  }
  
  @media screen and (max-width: "880px") {
    
    body{
        main{
            section {
                flex-direction: column;
            }
            .aboutMeImg {
                max-width: 200px;
            }

            .interestList {
              display: flex;
              flex-direction: column;
            }
        }
    }
  }