* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

figure {
  display: flex;
  margin: 0;
  padding: 0;
}

nav {
    padding: 0 96px 0 96px;
    background-color: #363062;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    color: #F5E8C7; 
    align-items: center;
  ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;

    li {
      list-style: none;
      font-size: 16px;
      padding-left: 28px;
    }
  }
}

.hamburguer{
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #F5E8C7;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
  }

  .hamburguer::before {
    top: -10px;
    width: 20px;
}

.hamburguer::after {
    top:10px;
    width: 25px;
}
.hamburguer::after, .hamburguer::before {
    position: absolute;
    height: 4px;
    right: 0;
    content: "";
    border-radius: 10px;
    transition: 0.3s;
    background-color: #F5E8C7;
}

.toggle-menu {
position: absolute;
width: 30px;
height: 100%;
z-index: 3;
cursor: pointer;
opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #435585;
  main {
    .titleSection {
      display: flex;
      align-items: center;
      flex-direction: column;
      color:#F5E8C7;
    }
    h5 {
        font-size: 20px;
    }
    h1 {
      font-size: 48px;
      margin: 40px 0 40px 0;
    }
    .comissions {
        margin-bottom: 28px;
        font-weight: bold;
        .status {
            font-weight: bold;
            color: red;
        }
    }

    .icons {
      display: flex;
      gap: 28px;
      margin-bottom: 30px;
    }
    
    .homeFigure {
      display: flex;
      justify-content: center;
      margin-bottom: 64px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #363062;
  padding: 4px;
}

@media screen and (max-width: "520px") {
    ul li {
        display: none;
    }
}

@media screen and (max-width: "750px") {
    nav {
        padding: 0 24px 0 24px;
    }
}