* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #435585;
  main {
    .titleSection {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #f5e8c7;
    }
    h5 {
      font-size: 20px;
    }
    h1 {
      font-size: 48px;
      margin: 40px 0 40px 0;
    }
    .comissions {
      margin-bottom: 28px;
      font-weight: bold;
      .status {
        font-weight: bold;
        color: red;
      }
    }

    .icons {
      display: flex;
      gap: 28px;
      margin-bottom: 30px;
    }

    .homeFigure {
      display: flex;
      justify-content: center;
      margin-bottom: 64px;
    }
  }
}

footer {
  display: table;
  height: 0;
  width: 100%;
  background-color: #363062;
  padding: 4px;
  .credits {
    display: block;
    color:#f5e8c7;
    text-align: end;
  }
}

@media screen and (max-width: "880px") {
  body {
    main {
    padding: 0 24px 0 24px;
    h1 {
      margin: 24px 0 0 0;
      font-size: 32px;
      text-align: center;
    }
  }
}

  .homeFigure .homeImg{
    width: 400px;
  }
}
